@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-200;
}

#footer {
    color: white !important;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #faca15;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #faca15;
    border-radius: 14px;
    border: 2px solid #faca15;
}

