@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
    @apply transition-colors duration-200;
}

#footer {
    color: white !important;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #faca15;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #faca15;
    border-radius: 14px;
    border: 2px solid #faca15;
}







/*Componente de swiper para carrusel de fotos*/

:root {
    --primary: #ffffff;
}


.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}


.swiper_container {
    height: 34rem;
    position: relative;
}

.swiper-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
}

.swiper-slide img {
    width: 20rem;
    height: 20rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



.slider-controler .slider-arrow {
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow::dark {
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow::after {
    content: '';
}

.swiper-pagination {
    position: relative;
    width: 8rem !important;
    bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}
